In [19]:
%pip install geoalchemy2

Collecting geoalchemy2
  Downloading GeoAlchemy2-0.13.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.0/43.0 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: SQLAlchemy>=1.4 in /opt/mamba/lib/python3.10/site-packages (from geoalchemy2) (2.0.16)
Requirement already satisfied: packaging in /opt/mamba/lib/python3.10/site-packages (from geoalchemy2) (23.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/mamba/lib/python3.10/site-packages (from SQLAlchemy>=1.4->geoalchemy2) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /opt/mamba/lib/python3.10/site-packages (from SQLAlchemy>=1.4->geoalchemy2) (2.0.2)
Installing collected packages: geoalchemy2
Successfully installed geoalchemy2-0.13.3
Note: you may need to restart the kernel to use updated packages.

In [20]:
import pandas as pd
import geopandas as gpd
import pandas as pd
import geopandas as gpd
from sqlalchemy import create_engine
from sqlalchemy import text
from geoalchemy2 import Geometry, WKTElement

In [73]:
lat_thonon = [46.37779248475237]
lon_thonon = [6.478241800197118]
rayon = [100]

lat = [43.484251431062916]
lon = [1.5306033526757137]
df = pd.DataFrame({'lon': lon, 'lat': lat, 'rayon': rayon})
df = gpd.GeoDataFrame(df, geometry= gpd.points_from_xy(df.lon, df.lat, crs='epsg:4328'))
df = df.to_crs('EPSG:2154')
df['coord_pt_gps'] = df['geometry'].apply(lambda geom: geom.wkt)

In [74]:
df.head()

,lon,lat,rayon,geometry,coord_pt_gps
0,1.530603,43.484251,100,POINT (700000.000 12655612.050),POINT (700000 12655612.049875997)

In [75]:
db_connection_url = "postgresql://funathon16:postgre16@postgresql-758156.projet-funathon:5432/defaultdb"
engine = create_engine(db_connection_url)

In [76]:
df.to_postgis('point_anael', con = engine, if_exists='replace', index=False, dtype={'geometry': Geometry('POINT', srid=2154)})

In [77]:
# Avoir le nom des colonnes
query = "SELECT * FROM rpg.parcelles LIMIT 1;"  # Sélectionnez une seule ligne de la table
with engine.connect() as conn:
    result = conn.execute(text(query))
    column_names = result.keys()

print(column_names)

RMKeyView(['id_parcel', 'surf_parc', 'code_cultu', 'code_group', 'culture_d1', 'culture_d2', 'geom', 'insee_com', 'insee_dep', 'insee_reg', 'nom_com'])

In [78]:
query = "SELECT row_number() OVER () AS row_id, p.coord_pt_gps, p.rayon, r.* FROM public.point_anael p, rpg.parcelles r WHERE ST_DWithin(p.geometry, r.geom, p.rayon);"

with engine.connect() as conn:
    data = conn.execute(text(query)).fetchall()

print(data)

[]

In [54]:
query = "SELECT * FROM  rpg.parcelles LIMIT 3;"

with engine.connect() as conn:
    data = conn.execute(text(query)).fetchall()

print(data)

[('7496621', 3.63, 'PPH', '18', '', '', '01060000206A080000010000000103000000010000002D00000080C0CA2157AE2841A89BC4709E005941800D4F6F31AE2841CCC342919A0059410035EFF81FAE2841A4F831A6980059410 ... (1194 characters truncated) ... E2841FCA9F18AB000594100AAF1124BAE2841F0A7C613AF005941C0C8763E4DAE284130B29D17AC005941403333F383AE2841E8D0221BA200594180C0CA2157AE2841A89BC4709E005941', '69183', '69', '84', 'Saint-Bonnet-le-Troncy'), ('20990166', 3.73, 'PPH', '18', '', '', '01060000206A080000010000000103000000010000004F000000400C026BC8A82841C820B046FC03594180711B6DB6A8284104E78C68FC03594180226C18CFA82841F41FD247010459418 ... (2282 characters truncated) ... 92841C0EC9E78F70359410068228C2EA92841587DAE4EF80359410074B5350DA928416C4DF306FA03594140D9CE57EBA82841BCB88D6AFB035941400C026BC8A82841C820B046FC035941', '69164', '69', '84', 'Ranchal'), ('11020410', 2.06, 'MLG', '16', '', '', '01060000206A080000010000000103000000010000004400000040D191DC5CAC284130DD24F68E045941C0438BCC64AC284144AD69AA92045941408D974E70AC2841484772F997045941C ... (1930 characters truncated) ... C28415C20411D90045941408C4AEA66AC2841B07268658E045941007F6ADC5CAC2841F875E0EC8E045941408D97EE5CAC28410C4625F58E04594140D191DC5CAC284130DD24F68E045941', '69164', '69', '84', 'Ranchal')]

In [79]:
query = "SELECT * FROM  public.point_anael LIMIT 10;"

with engine.connect() as conn:
    data = conn.execute(text(query)).fetchall()

print(data)

[(1.5306033526757137, 43.484251431062916, 100, '01010000206A08000000000000C05C25418C9598817F236841', 'POINT (700000 12655612.049875997)')]

In [52]:
data

[(6.478241800197118, 46.37779248475237, 10000, '01010000206A08000000000000C05C25418C9598817F236841', 'POINT (700000 12655612.049875997)')]